{% extends 'invitado.html' %}

{% block header_title %} Olvide Password {% endblock header_title %}

{% block titulo %} Olvide la contraseña {% endblock titulo %}

{% block descripcion %} Ingrese su corro electronico, y le enviaremos un correo para recuperar su contraseña {% endblock descripcion %}

{% block contenido %}
<form class="formulario" action="">
    <div class="formulario_campo">
        <label class="formulario_label" for="correo">
            Correo
        </label>
        <input class="formulario_input" type="text" id="correo" placeholder="sergio@hotmail.com">
    </div>
    <div class="flex flex-col gap-4 w-max">
        <button class="btn btn-md btn-primary" type="submit">Enviar correo</button>
        <a class="link-text" type="submit" href="/login">¿Recordaste la contraseña? Click Aqui</a>
    </div>
</form>
{% endblock contenido %}